{% extends 'base.html' %}
{% load static %}


{% block title %}
About
{% endblock %}
{% block content %}
        <!-- check in view.py there name added, thire data is taking here -->
        <!-- accessing values -->
            {{name}}

         <!-- loops -->
          <ul>
            {% for student in students %}
                <li>{{student}}</li>
            {% endfor %}   
            <!-- python requred indentation that y use endof -->
          </ul>

          <!-- conditions -->
          {% if slept %}
          I slept
          {% else %}
          Did not sleep
          {% endif %} 
{% endblock %}         
    