{% extends 'base.html' %}
{% load static %}

{% block title %}
Walk Wise
{% endblock %}
{% block content %}
        <div class="container">
            {% for product in product_list %}
            <div class="card">
              <div class="card-img">
                <img src="{{product.pic}}" class="images">
              </div>
              <div class="card-text">
                <h3><a href="{% url 'prod_details' product.id %}"> {{product.name}}</a></h3>
                <h5>Price : <ins>Rs. {{product.price}}</ins></h5>
                <h5>Stock : {{product.stock}}</h5>
                <p>{{product.desc}}</p>
                <button>Add to cart</button>
              </div>
            </div>
            {% endfor %}
          </div>
    {% endblock %}      
  