* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    header{
        height: 50px;
        nav{
            div.container-fluid{
                height: 100%;

            }
        }
    }
    main {
        margin-top: 70px;
    }
}